* {
	/*-moz-outline:none;*/
	padding:0;
   margin:0;
}
img {
	border: none;
}

body {
	background:url(http://cwdlimited.com/images/background.jpg) repeat-x left top #c7c7c7;
	font: normal normal normal small/1.4em Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;		
}

.fl {float: left}
.fr {float: right}

a:focus, a:hover {color:#ff0000;}
a {color:#cc0000;text-decoration:none;}
strong a {
	padding: 3px;
	text-transform: uppercase;
}


h1, h2, h3, h4, h5, h6, .button, #contact_information strong {font-family: "Myriad Pro", Myriad, Arial, Helvetica, sans-serif; font-weight: bold}

h1 {
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
}

h1 span {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	display: block;
	padding-top: 10px;
}

h2 {
	padding-top: 10px;
	font-size: 24px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
}



em {
	color: #999;
	font-style: normal;
	text-transform: uppercase;
	font-size: .85em;
}

/* ADMIN */

a.admin {
	color: #fff;
	padding: 1px 10px;
	background: #444;
	font-size: 11px;
	line-height: 30px;
	text-transform: uppercase;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

a.admin:hover {
	background: #000;
}

a.admin.new {
	background: #cc0000;
}
a.admin.new:hover {
	background: #ff0000;
}

/* CWD AND HEADER */

#container {
	width:960px;	
	padding:0px;
	margin-left: auto;
	margin-right: auto;
	 overflow: visible;
}

.shadow {
	-moz-box-shadow: 0px 1px 4px #999;
  -webkit-box-shadow: 0px 1px 4px #999;
	 overflow: visible;
}

#banner {position: relative; width: 960px; height: 441px; background: #000; overflow: hidden; z-index: 1; display: block}
#banner.short {height: 123px;}
#banner.short h1 {position: absolute; right: 20px; bottom: 0px; color: #fff; font-size: 60px; line-height: 45px; letter-spacing: -2px; font-weight: bold;}
#content {background: #fff; display: block; position: relative; width: 920px; overflow: visible; padding: 20px}

/* navigation */
#nav {background: #000 url("http://cwdlimited.com/images/nav-background.png") repeat-x; width: 100%; height: 85px;}
ul#menu {list-style: none; display: inline-block; margin-top: 16px;}
ul#menu li {float: left; margin-top: 16px; display: block;}
ul#menu li a {
	padding: 20px 5px;
	text-decoration: none; 
	color: #fff; 
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
ul#menu li a.last {padding-right: 10px;}
ul#menu li a:hover {color: #e31838;}
#menu a .arrow {display: inline-block; position: relative; width: 13px; height: 19px; top: 4px; left: 2px; overflow: hidden;}
#menu a:hover .arrow img, #menu a.hover .arrow img{position: relative; top: -19px;}

/* SIDE NAV */

#side_nav, #contact_information {
	width: 180px;
	padding: 0px 20px;
	background: #e9e6e6;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-moz-box-shadow: 0px 1px 2px #999;
  -webkit-box-shadow: 0px 1px 2px #999;
}

#side_nav h5 {
	font-size: 19px;
	font-weight: normal;
	margin: 0px
}

#side_nav ul {
	margin: 0px;
	padding: 10px 0px;
	list-style: none;
}
#side_nav li {
	display: block;
	clear: both;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
}

#side_nav a {
	color: #666666;
	text-decoration: none;
}

#side_nav a:hover {
	color: #e31937;
	text-decoration: none;
}

/* NEWS & PR HOME */

#contact_information {
	margin-left: 10px;
	line-height: 24px;
	
}
#contact_information h6 {
	padding-top: 10px;
	font-size: 24px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
}

#contact_information strong {
	font-size: 19px;
	font-weight: normal;
}

#contact_information p {
	padding: 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#latest_press_releases {
	line-height: 1.5em;
}
#latest_press_releases td {
	padding: 0px 10px;
	padding-top: 2px;
}

#latest_posts strong {
	
}

/* PRESSKITS */

#presskits h3 {
	margin: 0;
	margin-top: 10px;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
}

#presskits img {
	margin: 0px 10px;
}

#presskits td.level_1 {
	padding-left: 80px;
}

#presskits td.level_2 {
	padding-left: 160px;
}

#presskits td.level_3 {
	padding-left: 240px;
}


/* PRESSKIT SHOW */

#presskit h2 {
	font-weight: normal;	
}

#presskit h3 {
	font-size: 18px;
	line-height: 24px;
}
#presskit ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 25px;
}

#presskit li {
	margin-bottom: 10px;
	padding: 0px;
}

.expanded, .minimized {
	color:#cc0000;
	cursor: default;
}
.expanded.hover, .minimized.hover, .expanded:hover, .minimized:hover {
	color:#ff0000;
	cursor: pointer;
}


/* FORMS */

input {
	padding: 3px 5px;
}

/* MESSAGES */
#notice {
	font-style: italic;
	color: #999;
}

#errorExplanation {
	background: #ffe7ec;
	border: 2px solid #ef0031;
	padding: 5px 20px;
	margin-bottom: 10px;
}

#errorExplanation h2 {
	border: none;
}
.field_with_errors label{
	color: #ef0031;
}

.field label {
	display: block;
}
.actions {
	margin: 10px 0px;
}


#footer {padding-bottom: 20px; font-size: 10px; line-height: 11px; color: #666;}
#footer ul {list-style: none; margin: 10px;}
#footer li {border-right: 1px solid #999; display: inline-block;}
#footer li.last {border-right: none;}
#footer a {color: #666; padding: 0px 10px; text-decoration: none;}
#footer a:hover {color: #e31838; text-decoration: underline;}
