<div id="presskits">
	<h2>Presskits</h2>
	
	<table>
	  <%= render :partial => 'brand_tree', :collection => @main_divisions, :locals => {:level => 0} %>
	</table>

	<br />
	<%= link_to 'New Brand Presskit', new_brand_path, :class => "admin new" %>
	
</div>