<%= form_for([@brand, @brand.categories.build]) do |category_form| %>

  <div class="field">
    <%= category_form.label :name %>
    <%= category_form.text_field :name %>
  </div>
  
  <div class="actions">
    <%= category_form.submit %>
  </div>
<% end %>
