<div id="footer" align="center">
        <br />
        <ul>
        	<li><a href="http://cwdlimited.com">Home</a></li>
     	  	<li><a href="http://cwdlimited.com/our-company.php">Our Company</a></li>
			<li><a href="http://cwdlimited.com/our-brands.php">Our Brands</a></li>
			<li><a href="http://cwdlimited.com/our-history/">Our History</a></li>
			<li><a href="http://cwdlimited.com/careers/">Careers</a></li>
			<li><a href="/">News &amp; PR</a></li>
			<li class="last"><a href="http://cwdlimited.com/contact-us.php" class="last">Contact Us</a></li>
     	  </ul>
        	&copy; Copyright 
<script type="text/javascript">	document.write(new Date().getFullYear()) </script> 
			 		Circus World Displays Ltd, unless otherwise noted.
      </div>